<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask MongoDB App</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/style/styles.css">
    <script src="/static/script/script.js"></script>
</head>
<body>
    <div class="left-section">
        <h1>Top Users</h1>
        <table id="topUsersTable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Tweets</th>
                </tr>
            </thead>
            <tbody id="topUsersBody"></tbody>
        </table>
        <canvas id="topUsersChart" width="150" height="150"></canvas>
    </div>
    <div class="right-section">
        <h1>Tweet Distribution</h1>
        <label for="username">Enter Username:</label>
        <input type="text" id="username" name="username" />
        <button type="button" onclick="getTweetDistribution()">Get Distribution</button>
        <div id="tweetDistribution">Tweet Count: 0</div>
        <canvas id="tweetDistributionChart" width="400" height="200"></canvas>
    
</body>
</html>
